services:
    nginx:
        image: nginx:latest
        volumes:
            - ./:/var/www/html
            - ./docker/nginx/conf.d:/etc/nginx/conf.d
        ports:
            - "8876:80"
        container_name: app_nginx
        depends_on:
            - php

    php:
        build:
            context: ./docker/php
        volumes:
            - ./:/var/www/html
        container_name: app
        depends_on:
            - mysql

    mysql:
        image: mysql:8.0
        ports:
            - "8101:3306"
        environment:
            - MYSQL_ROOT_PASSWORD=root
            - MYSQL_DATABASE=laravel

